<html>
  <head>
      <title> Globe? </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <link rel="stylesheet" type = text/css href = "../static/css/countries.css">
  </head>

  <body>

    <div id="globe">
      <svg width="800px" height="500px">
        <g id='map' class="map"></g>
      </svg>
    </div>

    <button id="rotate"> Test Rotate </button>
    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Show up">
      Popover on top
    </button>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/js/world.js"></script>
  </body>
</html>
