<!DOCTYPE html>

<html>

<!DOCTYPE html>
<html lang="en">
<form action="/" method="POST" class="login-form">
  <div class="login-form">
    <label for="name">Enter your username: </label>
    <input type="text" name="username" id="name" required>
  </div>
  <div class="login-form">
    <label for="email">Enter your password: </label>
    <input type="password" name="password" id="password" required>
  </div>
  <div class="login-form">
    <input type="submit" value="Register">
  </div>
</form>

</html>

</head>
<br>
<a href="home">Login</a>


</html>
